.login-wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 80vh;
}
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid black;
  border-radius: 6px;
  padding: 0 16px;
  margin-bottom: 50px;
  height: 40%;
  max-width: 400px;
  border: solid;
}
.new-account-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 6px;
  height: 65px;
  min-width: 260px;
  max-width: 355px;
}

.new-account-link {
  color: #0366d6;
  text-decoration: underline;
  padding-left: 10px;
}
