.task-container {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: solid;
}
.task-title {
  border-bottom: solid;
  margin-bottom: 0.5rem;
}
.task-name-input {
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  outline: none;
}
.task-description-textarea {
  border-radius: 10px;
  padding: 0.5rem;
  height: 150px;
  width: 300px;
  margin: 0 0 0.5rem 0;
  resize: none;
  outline: none;
}
